<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

    <body>
        <div class="wapper p-top">
            <%- include('../_include/_header') %>

            <section class="l-fv">

                <div class="c-fireworks_left first" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="500">
                    <img src="./assets/img/fireworks03.png" alt="花火の絵" width="246px" height="244px">
                </div>
                <div class="c-fireworks_left second" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="1500">
                    <img src="./assets/img/fireworks01.png" alt="花火の絵" width="309px" height="303px">
                </div>
                <div class="c-fireworks_left third" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="2500">
                    <img src="./assets/img/fireworks04.png" alt="花火の絵" width="213px" height="215px">
                </div>
                <div class="c-fireworks_left forth" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="3500">
                    <img src="./assets/img/fireworks05.png" alt="花火の絵" width="212px" height="208px">
                </div>
                <div class="c-fireworks_left fifth" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="1000">
                    <img src="./assets/img/fireworks03.png" alt="花火の絵" width="161px" height="160px">
                </div>

                <div class="c-fireworks_right first" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="1000">
                    <img src="./assets/img/fireworks02.png" alt="花火の絵" width="208px" height="204px">
                </div>
                <div class="c-fireworks_right second" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="2000">
                    <img src="./assets/img/fireworks03.png" alt="花火の絵" width="246px" height="244px">
                </div>
                <div class="c-fireworks_right third" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="3000">
                    <img src="./assets/img/fireworks01.png" alt="花火の絵" width="208px" height="203px">
                </div>
                <div class="c-fireworks_right forth" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="700">
                    <img src="./assets/img/fireworks05.png" alt="花火の絵" width="328px" height="322px">
                </div>
                <div class="c-fireworks_right fifth" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="5000">
                    <img src="./assets/img/fireworks04.png" alt="花火の絵" width="170px" height="172px">
                </div>

                <div class="l-fv_logo pt-160 sp-pt">
                    <img src="./assets/img/fireworks-logo.png" alt="星駆花火大会のロゴ">
                </div>

                <div class="l-fv_textArea pb-200">
                    <h1 class="l-fv_textArea__title mt-40  lh-2">星駆花火大会</h1>
                    <h2 class="l-fv_textArea__subtitle mt-20">HOSHIKAKE HANABI FES</h2>
                    <p class="l-fv_textArea__date mt-40">開催日時：8/29(日) 19:00～21:00</p>
                    <p class="l-fv_textArea__attention mt-15">雨天中止（当日15:00までに当サイトで告知いたします）</p>
                </div>

            </section>

            <section class="l-about pb-200 pt-120">
                <div class="c-fireworks_left opacity l-about_fireworks__left">
                    <img src="./assets/img/fireworks01.png" alt="花火の絵" width="293px" height="287px">
                </div>

                <div class="c-fireworks_right opacity l-about_fireworks__right">
                    <img src="./assets/img/fireworks04.png" alt="花火の絵" width="316px" height="319px">
                </div>

                <div class="l-about_inner">
                    <h2 class="c-section_title">ABOUT</h2>
                    <h3 class="c-section_subtitle mt-014">星駆花火大会について</h3>
                    <p class="l-about_inner__text mt-10 sp-margin5">
                        瀬戸内海に位置するのどかな有人島、北木島(きたぎしま)。<br class="pc">
                        そんな北木島で年に一度行われる「星駆花火大会」は、<br class="pc">
                        ２時間で20,000発もの花火が打ち上がる日本有数の花火大会です。<br class="pc">
                        大自然に囲まれた島から都会の喧騒を忘れ、大量の花火をご覧いただけます。<br class="pc">
                        さらに、<br class="pc">
                        船上から花火をご覧いただける「クルーズコース」もご用意しております。<br class="pc">
                        今年の夏は、ぜひ星駆花火大会にお越しください！
                    </p>
                </div>
            </section>

            <section class="l-point">
                <h2 class="c-section_title">POINT</h2>
                <h3 class="c-section_subtitle mt-014 sp-margin">おすすめポイント</h3>

                <div class="l-point_container">
                    <div class="l-point_imgArea" data-aos="fade-right" data-aos-duration="1000"data-aos-delay="400">
                        <img src="./assets/img/point_01.png" alt="おすすめポイントの写真">
                    </div>

                    <div class="l-point_textArea">
                        <h3 class="l-point_textArea__title pb-017 mb-017">
                            島の自然と花火のコントラスト
                        </h3>
                        <p class="l-point_textArea__text">
                            海や山など島ならではの自然に囲まれたロケーションで<br>
                            花火を鑑賞！都会では味わえない非現実感を味わえます。<br>
                            プログラムの後半では海上花火もありますので、幻想的<br>
                            な光景をお楽しみください！
                        </p>
                    </div>

                    <div class="l-point_imgArea right" data-aos="fade-left" data-aos-duration="1000"data-aos-delay="900">
                        <img src="./assets/img/point_02.png" alt="おすすめポイントの写真">
                    </div>

                    <div class="l-point_textArea right">
                        <h3 class="l-point_textArea__title pb-017 mb-017">
                            船上から特別な眺めを
                        </h3>
                        <p class="l-point_textArea__text">
                            クルーズコース（3,000円）で船上から花火をご覧いた<br>
                            だけます。海面に反射する花火、水平線に隠れる海上花<br>
                            火、ナイトクルーズなど星駆花火大会でしかできない経<br>
                            験をご堪能ください！
                        </p>
                    </div>
                </div>
                
            </section>

            <section class="l-information pt-220">
                <div class="c-fireworks_left l-information_fireworks__leftTop" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="800">
                    <img src="./assets/img/fireworks04.png" alt="花火の絵" width="303px" height="306px">
                </div>
                <div class="c-fireworks_right l-information_fireworks__right" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="1200">
                    <img src="./assets/img/fireworks01.png" alt="花火の絵"  width="251px" height="245px">
                </div>
                <div class="c-fireworks_left l-information_fireworks__leftBottom" data-aos="fade-up"
                data-aos-duration="3000"data-aos-delay="1600">
                    <img src="./assets/img/fireworks05.png" alt="花火の絵" width="212px" height="207px">
                </div>

                <h2 class="c-section_title">INFORMATION</h2>
                <h3 class="c-section_subtitle mt-014">詳細情報</h3>

                <div class="l-information_content mt-10 pb-200">
                    <dl>
                        <dt>大会名</dt>
                        <dd>第12回 星駆花火大会</dd>
                        <dt>開催日時</dt>
                        <dd>8/29(日)19:00～21:00</dd>
                        <dt>会場</dt>
                        <dd>岡山県笠岡市北木島星駆町</dd>
                        <dt>アクセス</dt>
                        <dd>
                            伏越港発着の大福丸フェリーか金風呂丸フェリー<br>
                            又は笠岡の住吉港から三洋汽船が運航する旅客船をご利用ください。<br>
                            大福丸フェリー<br class="sp"><span class="ml-036 sp-margin"></span>行き：18:00<span class="ml-36 sp-margin"></span>帰り：21:30<br>
                            金風呂丸フェリー<br class="sp"><span class="ml-018 sp-margin"></span>行き：17:00<span class="ml-36 sp-margin"></span>帰り：22:00<br>
                            旅客船<br class="sp"><span class="ml-108 sp-margin"></span>行き：17:30<span class="ml-36 sp-margin"></span>当日、帰りの便はありません。
                        </dd>
                    </dl>
                </div>

            </section>

            <section class="l-contact mb-180">
                <div class="l-contact_container">
                    <a href="#" class="l-contact_container__button">
                        <h2 class="c-section_title l-contact_container__title">CONTACT</h2>
                        <h3 class="c-section_subtitle mt-014 l-contact_container__subtitle">お問い合わせ</h3>
                    </a>
                </div>
            </section>
                <main>

                </main>

            <%- include('../_include/_footer') %>
        </div>

        <!-- AOS -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile'
            });
        </script>
    </body>

</html>
