.mt-20 {
    margin-top: 2rem;
}
.mt-40 {
    margin-top: 4rem;
}
.mt-15 {
    margin-top: 1.5rem;
}
.mt-014 {
    margin-top: 1.4rem;
}
.mt-10 {
    margin-top: 10rem;
}
.mt-220 {
    margin-top: 22rem;
}
.ml-018 {
    margin-left: 1.8rem;
}
.ml-036 {
    margin-left: 3.6rem;
}
.ml-108 {
    margin-left: 10.8rem;
}
.ml-36 {
    margin-left: 3.6rem;
}
.mb-180 {
    margin-bottom: 18rem;
}
.sp-margin {
    @include sp {
        margin-bottom: 5rem;

    }
}
.sp-margin5 {
    @include sp {
        margin-top: 5rem;
    }
}