.pt-160 {
    padding-top: 16rem;
}
.pt-200 {
    padding-top: 20rem;
}
.pb-200 {
    padding-bottom: 20rem;
}
.pt-120 {
    padding-top: 12rem;
}
.pb-017 {
    padding-bottom: 1.7rem;
    // margin-bottom: 1.7rem;
}
.pb-180 {
    padding-bottom: 18rem;
}
.pt-220 {
    padding-top: 22rem;
}
