.footer_textArea {
    text-align: center;
    height: 126px;
    background: $gray;
    @include sp {
        height: auto;
        padding: 2rem 0;
    }
    &__text {
        line-height: 126px;
        font-size: 1.6rem;
        @include sp {
            font-size: 2rem;
            line-height: normal;
        }
    }
}