.l-information {
    position: relative;
    &_content {
        text-align: center;
        dl {
            display: flex;
            flex-wrap: wrap;
            // width: 50%;
            max-width: 770px;
            margin: 0 auto;
            width: 90%;
            
            dt {
                width: 20%;
                font-size: 1.8rem;
                border-top: 1px solid $white;
                padding: 2.4rem 0 2.4rem 4.5rem; 
                text-align-last: left;
                &:nth-child(7n) {
                    border-bottom: 1px solid $white;
                }
            }
            dd {
                width: 80%;
                font-size: 1.8rem;
                text-align-last: left;
                border-top: 1px solid $white;
                padding: 2.4rem 4.5rem  2.4rem 0; 
                &:last-child {
                    border-bottom: 1px solid $white;
                }
            }
        }
    }
    &_fireworks {
        &__leftTop {
            left: -3%;
        }
        &__leftBottom {
            left: 15%;
            bottom: 0;
        }
        &__right {
            right: -3%!important;
        }
    }
}